<% 
fillings = ["Avocado", "Al Pastor", "Pescado"] 
%>

<h1>Tacos!!!</h1>
<p>We have a lot of delish tacos.</p>

<ul>
<% for filling in fillings %>
<li><%= fillings[0] %></li>
<% end %>

<li><%= fillings[0]%></li>
<li>Al Pastor</li>
<li>Pescado</li>
</ul>